<h2>Playces ({{model.length}})</h2>

{{#link-to 'playces.new' class="button helper"}}+ Add New Playce{{/link-to}}

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each itemController="playce"}}
      <tr>
        <td>{{#link-to 'playce' this}}{{name}}{{/link-to}}</td>
        <td>{{latitude}}</td>
        <td>{{longitude}}</td>
        <td><a href="#" {{action 'remove'}}>Delete</a></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="4">
          <em>No places yet.</em> {{#link-to 'playces.new'}}Add a new playce.{{/link-to}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
